<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no"
    />
    <meta name="description" content="Nautical Minds" />
    <meta name="author" content="Jason Traub" />
    <link rel="icon" href="/images/NauticalMindsEP.jpg" />
    <title>Nautical Minds</title>

    <!-- CSS files -->
    <link href="/css/fa/css/all.min.css" rel="stylesheet" />
    <link href="/build/tailwind.css" rel="stylesheet" />
    <link href="/css/nauticalminds.css" rel="stylesheet" />
  </head>

  <body>
    <div class="nautical-minds-container" id="nauticalMindsContainer">
      <div id="reactApp">
        <div class="center-rocket-container">
          <img src="/images/nauticalstarship-alt.svg" />
        </div>
        <footer class="absolute bottom-0 left-0">
          &copy; 2022 Nautical Records LLC
        </footer>
      </div>
    </div>
    <script src="/js/nauticalStarship.js"></script>
    <script src="/build/nauticalminds.bundle.js"></script>
  </body>
</html>
