import os
import sys
sys.path.insert(0, '/opt/nauticalminds')
os.chdir('/opt/nauticalminds')

os.environ['SECRET_KEY'] = '<secret-key-goes-here>'
os.environ['DATABASE_URI'] = 'postgresql://<dbuser>:<dbpass>@<dbhost>/<dbname>'
os.environ['LOG_DIR'] = '/var/log/nauticalminds'
os.environ['MUSIC_DIR'] = '/home/nauticalminds' 

from app import app as application
