.dark-bg {
  background-color: rgba(0,0,0,0.5);
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.modal-container.opaque {
  opacity: 1;
  pointer-events: auto;
}
.modal-container .modal-content {
  z-index: 20;
  display: flex;
  flex-direction: column;
}
.modal-container .modal-backdrop {
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

form input:focus {
  outline: none
}

textarea:focus{
  outline: none;
}

input.join-input{
  margin: 10px 10px 10px auto;
}

.button-container {
  margin: 10px;
  display: flex;
}

.button-container > .submit-btn {
  margin: auto auto auto 0;
}

.button-container > .reset-btn {
  margin: auto 0 auto auto;
}

.form-header {
  margin: 10px auto 10px 10px;
}

.form-alert {
  margin: 0 auto;
  font-family: "ZCOOL QingKe HuangYou";
  text-align: center;
  z-index: 1005;
  display: flex;
  position: absolute;
  top: 25px;
  right: 0;
  margin: 5px 10px;
}
.form-alert.big {
  font-size: 1.25rem;
}
.form-alert.comment {
  left: 5px !important;
  right: inherit;
}
.form-alert.error {
  color: red;
}
.form-alert.success {
  color: rgb(0,190,0);
}

.form-alert span {
  margin: auto;
}

.flex-group{
  display: flex;
}

.mr-15 {
  margin-right: 15px;
}
.ml-15 {
  margin-left: 15px;
}

.form-container {
  max-width: 450px;
  min-width: 320px;
  width: 80vw;
  /* height: 350px; */
}

form.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.input-container {
  margin: 10px 10px auto 10px;
  display: flex;
  flex-direction: column;
}

.input-container > hr {
  margin: 5px;
  color: grey;
}

.input-container > h6 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 5px;
}

form input {
  font-family: 'Palatino', Georgia, 'Times New Roman', Times, serif;
  margin-right: 0;
  width: 300px;
  height: 30px;
  caret-color: white;
  background-color: rgba(0,0,0,0);
  color: white;
  text-align: center;
  padding: 3px 30px;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

form input::placeholder{
  color: rgba(255,255,255,0.5);
  text-align: center;
}

.text-center{
  text-align: center;
}

button.form-btn {
  text-decoration: none;
  /* font-family: 'Comic Sans MS'; */
  font-size: 18px;
  color: white;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
  /* border-radius: 10px; */

}

button.limegreen {
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
  border: 1px limegreen solid;
  background-color: rgba(0,0,0,0.1);
  color: white;
}
button.limegreen:hover {
  background-color: limegreen !important;
}

.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.comment-reset-btn {
  /* border-radius: 10px; */
  padding: 5px;
  color: black;
}