@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

.user-address {
  display: flex;
  flex-direction: column;
  border: lawngreen solid 1px;
  color: #b0fc00;
  font-family: "ZCOOL QingKe HuangYou";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  background-color: rgba(34,139,34,0.5);
  padding: 5px;
  border-radius: 5px;
  margin: 0.75rem;
  width: 7.5rem;
  height: 2rem;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.user-address.expanded {
  border-radius: 3px;
  height: 5rem;
  width: 15rem;
}
.user-address:hover{
  filter: invert(100%);
}

.wallet-btn {
  position: relative;
  border-radius: 10px;
  border: solid 2px green;
  background-color: rgb(124,252,0, 0.33);
  transition: border-color 0.1s ease-in;
}
.wallet-btn:hover{
  border: solid 2px lawngreen;
}
.wallet-btn .wallet-btn-text-container {
  font-family: monospace;
  font-size: 1.25rem;
  color: lawngreen;
  display: flex;
  height: 100%;
  transition: color 0.3s ease-in-out;
}
.wallet-btn .wallet-btn-text-container span {
  margin: auto;
}
.wallet-btn .wallet-logo {
  width: 24px;
  height: 24px;
  float: left;
  margin: 10px;
}


.font-zcool {
  font-family: "ZCOOL QingKe HuangYou" !important;
}

.wallet-detail-container {
  display: flex;
  margin: auto;
  width: 100%;
}
.wallet-detail-container img.wallet-detail-img {
  height: 2rem;
  width: auto;
  margin: auto auto auto 0.5rem;
}
.wallet-detail-container .wallet-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto 0.25rem;
}
.wallet-detail-container .wallet-text-container .wallet-text-row {
  display: flex;
  justify-content: space-between;
}
