{
  "id": {{ tokenId }},
  "symbol": "NMEP{{ tokenId }}",
  "name": "Nautical Minds EP #{{ tokenId }}",
  "albumTitle": "Nautical Minds EP",
  "albumArtist": "Nautical Minds",
  "publisher": "Nautical Records",
  "songs": [
    {"trackNo": 1, "title": "Gotta Let You Know", "artist": "Nautical Minds", "uri": "ipfs://sdjhjsdhahdja"},
    {"trackNo": 2, "title": "Ain't Gotta Care", "artist": "Nautical Minds", "uri": "ipfs://sdhdkahdjkakdha"},
    {"trackNo": 3, "title": "Funk 1 (f.t. B.I.G. Jay)", "artist": "Nautical Minds", "uri": "ipfs://shkdhasjkdjkahsda"},
    {"trackNo": 4, "title": "Spacy Stacy", "artist": "Nautical Minds", "uri": "ipfs://"},
    {"trackNo": 5, "title": "Side Street Robbery", "artist": "Nautical Minds", "uri": "ipfs://"},
    {"trackNo": 6, "title": "Off The Clock", "artist": "Nautical Minds", "uri": "ipfs://"}
  ]
}