{% extends "index.html" %}

{% block content %}

  <div class="about-container center-relative dark-modal" style="visibility: visible; opacity: 1; display: block;">
    <h3 class="form-header">About</h3>
    <p class="right-justified">
      Nautical Minds is a music duo, formed in Florida in 2012, consisting of Jason Marcus (vox) and Jason Traub (guitar).
    </p>
    <h4 class="form-header">Contact</h4>
    <p class="right-justified" style="padding-top: 0; text-align: end">
      <a class="contact-link" href="mailto:nauticalmindsmusic@gmail.com">nauticalmindsmusic@gmail.com</a>
    </p>
    <h5 class="form-header">Links</h5>
    <p class="right-justified" style="padding-top: 0; text-align: end">
      <a class="contact-link-blue" href="https://linktr.ee/nauticalminds" target="_blank">linktr.ee</a>
    </p>
  </div>

{% endblock %}
