<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nautical Minds">
    <meta name="author" content="Jason Traub">
    <link rel="icon" href="../static/images/NauticalMinds.jpg">
    <title>Nautical Minds</title>

    <!-- CSS files -->
    <link href="../static/style/fontawesome-free-5.8.1-web/css/all.min.css" rel="stylesheet">
    <link href="../static/css/nauticalminds.css" rel="stylesheet">
    <link href="../static/css/nauticalminds-audiobar.css" rel="stylesheet">
    <link href="../static/css/forms.css" rel="stylesheet">
  </head>

  <body>

    {% block content %}

    <div class="nautical-minds-container" id="nauticalMindsContainer">
      <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}">
      <div class="header">
        <button class="nautical-btn" href="/about" id="aboutButton">
          About
        </button>
        <h1>Nautical Minds</h1>
        <button class="color-wheel" href="/join" id="loginButton">
          Join
        </button>
      </div>
      <div class="content-container">
        <blockquote>
          <h4 class="quote orange">if it's important to ya', don't let it go...</h4>
        </blockquote>
      </div>
      <div class="video-container center-relative" id="videoContainer" style="display: none;">
        <i class="fab fa-youtube center-relative" id="playMusicVideo"></i>
      </div>
      <div id="audioBar"><!-- React Component --></div>
      
    </div>

    <div id="aboutModal">
      <p>
        Message from the artist:


      </p>

      <p>
        Nautical Minds was formed in Florida in 2012.
        Nautical Minds EP was recorded in Gainesville, FL.
        Nautical Minds 
      </p>

      <p>
        <h6>
          Links:
        </h6>
        <ul>
          <li>

          </li>
        </ul>
      </p>
    </div>
    {% endblock content %}

    {% block script %}
      <script src="../static/dist/nauticalminds.bundle.js"></script>
    {% endblock script %}
  </body>
</html>
