{% extends "index.html" %}

{% block content %}
{% if message %}
<div class="site-alert msg-{{ message.status }}">{{ message.message }}</div>
{% endif %}
<div class="form-container center-relative dark-modal" style="visibility: visible; opacity: 1;">
  <div style="display: flex">
    <h3 class="form-header">Login</h3>
    <h6 style="margin: 10px 10px 10px auto">
      <i>New? </i><a href="/join">Join</a>
    </h6>
  </div>
  <form class="flex-col" action="/login" method="POST">
    <div class="input-container">
      <input type="email" placeholder="Email" name="email" class="join-input" autoComplete="username"/>
      <input type="password" placeholder="Password" name="password" class="join-input" autoComplete="current-password"/>
      <hr/>
    </div>
    <div class="button-container">
      <button class="dark-grey submit-btn" type="submit">Submit</button>
      <button class="dark-grey reset-btn" type="reset">Reset</button>
    </div>
  </form>
</div>

{% endblock %}
