{% extends "index.html" %}


{% block content %}
  <div class="container-fluid">
    <div class="m-5 d-flex flex-column">

      <div class="w-100" id="gotta_let_you_know">
        <h3>1. Gotta Let you Know</h3>
      </div>

      <div class="w-100" id="aint_gotta_care">
        <h3>2. Ain't Gotta Care</h3>
      </div>

      <div class="w-100" id="funk1">
        <h3>3. Funk 1</h3>
      </div>

      <div class="w-100" id="spacy_stacy">
        <h3>4. Spacy Stacy</h3>
      </div>

      <div class="w-100" id="sidestreet_robbery">
        <h3>5. Sidestreet Robbery</h3>
      </div>

      <div class="w-100" id="off_the_clock">
        <h3>6. Off The Clock</h3>
      </div>

    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="../static/dist/music.bundle.js"></script>
{% endblock script %}
